<div class="panel panel-default">
  <div class="panel-heading">
    {{#if friendsList}}
    <small class="pull-right">
      <a href="#" data-hull-action="selectAll">Select all</a>
      &nbsp;|&nbsp;
      <a href="#" data-hull-action="unselectAll">Unselect all</a>
    </small>
    {{/if}}
    <h2 class="panel-title">{{fallback options.title "Select friends"}}</h2>
  </div>

  <div class="panel-body">
    {{#if loggedIn.facebook}}
    <form>
      <div class="row">
        <div class="col-md-12">
          {{#if options.caption}}
          <p>This is a text explanation of what's happening here....</p>
          {{/if}}
          <textarea name="message" required class="form-control" rows="2" placeholder="{{fallback options.placeholder "Type your invite message here !"}}">{{options.message}}</textarea>
          <hr/>
        </div>
      </div>
      {{#if friendsList}}
      <div class="users-grid hidden">
        {{#grid friendsList 3}}
        <div class="media" data-friend="{{id}}">
          <div class="pull-right">
            <input type="checkbox" name="friends[]" value="{{id}}" id="friend-selected-{{id}}"/>
          </div>
          <div class="pull-left">
            <label for="friend-selected-{{id}}"><img src="{{picture.data.url}}" /></label>
          </div>
          <label for="friend-selected-{{id}}">
            <div class="media-body">
              <h5>{{name}}</h5>
            </div>
          </label>
        </div>
        </a>
        {{/grid}}
      </div>
      <hr/>
      {{/if}}
      
      <div class="row">
        <div class="col-md-12">
          <input class="btn btn-primary btn-block" type="submit" name="method" value="Send Invitation" />
        </div>
      </div>
    </form>
    {{else}}
    <button class="btn btn-primary" data-hull-action="loginWithFacebook">
      Login with Facebook
    </button>
    {{/if}}
  </div>

</div>